<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.voyager.qa.testcases.AgentPageTest"/>
      <class name="com.voyager.qa.testcases.SearchPageTest"/>
      <class name="com.voyager.qa.testcases.ZooplaHomePageTest"/>
      <class name="com.voyager.qa.testcases.SelectFifthPrizeInfoPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
